<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="format-detection">
    <meta charset="UTF-8">
    <meta name="description" content="6">
    <meta name="keywords" content="你好，他好，我好">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="/static/image/animals/rooster-svgrepo-com.svg">
    <title>Acwing-Web应用课</title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body style="background: #2b2d30">

<h4>《赋得古原草送别》</h4>

<div class="mydiv">
<!--    <p>离离原上草，一岁一枯荣。</p>-->
<!--    <p>野火烧不尽，春风吹又生。</p>-->
<!--    <p>远芳侵古道，晴翠接荒城。</p>-->
<!--    <p>又送王孙去，萋萋满别情。</p>-->
</div>



</body>
</html>