<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="format-detection">
    <meta charset="UTF-8">
    <meta name="description" content="6">
    <meta name="keywords" content="你好，他好，我好">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="/static/image/animals/rooster-svgrepo-com.svg">
    <title>Acwing-Web应用课</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body style="background: #2b2d30">
    <br>
    <textarea style="background-color: lightblue; width: 200px; height: 200px;" class="input" id="" cols="30" rows="10"></textarea>
    <br>
    <button>Run</button>
    <br>
    <pre style="background-color: lightblue; width: 200px; height: 200px;"></pre>
    <script type="module">
        import {main} from "../static/js";

        main();
    </script>
</body>
</html>