.mydiv {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(orange, orchid);
}

.spinner {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 20px solid #ccc;
  border-top-color: #333;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}