.container {
    display: flex;
    background-color: lightgray;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    padding: 10px;
}

.row {
    display: flex;
    flex-basis: 100%;
    /*flex-wrap: wrap;*/
}

.col {
    display: flex;
    flex-basis: calc(100% / 3);
    height: 50px;
    justify-content: center;
    align-items: center;

    background-color: lightsalmon;
    border: 1px solid gray;
    box-sizing: border-box;
    font-size: 30px;
}

.col1 {
    flex-basis: calc(100% / 6);
}

.col2 {
    flex-basis: calc(200% / 6);
}

.col3 {
    flex-basis: calc(300% / 6);
}