.effect:hover {
    background-color: rosybrown;
    transition: 2s;
}

a:link {
    color: cadetblue;
}

a:visited {
    color: rosybrown;
}

a:hover {
    color: #067588;
}

a:nth-child(1) {
    color: #FFFFFF;
}